/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "󰦴 ";
  display-window: "󰦴 ";
  display-combi: "󰦴 ";
}
@theme "themes/center-nord.rasi"

/* @import "/home/jason/.config/awesome/theme/nord.rasi" */

element selected {
    background-color: #5657f5;
    text-color: @foreground;
}
