[Desktop Entry]
Name=Retroarch
Comment=
Exec=/home/jason/appimage/RetroArch-Linux-x86_64.AppImage
Icon=
Terminal=false
Type=Application
Categories=Gaming;
Name[en_US]=Retroarch
